Am {{date}} um {{time}} Uhr schrieb '{{name}}' {{#if email}}(<a href="{{email}}">{{email}}</a>){{/if}} aus '{{location}}'
folgende Nachricht: <br><br>
{{message}}<br><br>
<hr>
soll diese Nachricht freigeschaltet werden? <br><br>
<a href="{{url_unlock}}">ja, bitte freischalten</a> <br><br>
<a href="{{url_delete}}">nein, bitte unverzüglich löschen</a> <br><br>
