{{!

/**
 *  SFW2 - SimpleFrameWork
 *
 *  Copyright (C) 2018  Stefan Paproth
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 *  published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program. If not, see <http://www.gnu.org/licenses/agpl.txt>.
 *
 */

}}

<h1 class="pb-5">{{title}}</h1>
<div class="pb-3">
    {{description}}
</div>
{{#if sfw2_authority.create}}
<div class="pt-3 pb-5">
    <button
        type="button"
        class="btn btn-secondary"
        data-bs-toggle="modal"
        data-bs-target="#sfw2-form-dialog-modal"
        data-sfw2-form-id="{{sfw2_routing.path_simplified}}"
        data-sfw2-url="{{sfw2_routing.path}}"
    >
        Ins Gästebuch eintragen...
    </button>
</div>
{{/if}}
<div id="{{sfw2_routing.path_simplified}}" class="d-none">
    <form class="needs-validation" novalidate>
        <div class="alert alert-info" role="alert">
            Einträge werde zunächst geprüft bevor sie für alle sichtbar sind!
            Sollte Dein Eintrag also nicht sofort sichtbar sein dann hab ein wenig geduld und schaue später nochmal vorbei...
        </div>
        <div class="mb-3">
            <input type="text" class="form-control " placeholder="Name" name="name"
                   required="required">
            <div class="form-text invalid-feedback">fehler</div>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control " placeholder="Ort" name="location"
                   required="required">
            <div class="invalid-feedback">fehler</div>
        </div>
        <div class="mb-3">
            <textarea placeholder="Deine Nachricht" class="form-control " style="height: 8rem;"
                      name="message" required="required"></textarea>
            <div class="invalid-feedback">fehler</div>
        </div>
        <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" name="terms" type="checkbox" id="termsX" value="1">
                <label class="form-check-label" for="termsX">
                    Ich habe die <a class="text-reset" href="/datenschutz">Datenschutz­erklärung</a> gelesen
                </label>
                <div class="invalid-feedback">Fehler</div>
            </div>
        </div>
    </form>
</div>

{{#each entries}}
<div class="hstack gap-3 pb-5">
    <div class="p-2 align-self-start">
        <h4>{{nb}}</h4>
    </div>
    <div class="vr"></div>
    <div class="p-2">
        <h4 class="mt-0 mb-2">Eintrag von {{author}}</h4>
        <div class="fw-lighter mb-4" style="font-size: 0.75rem;">
            Erstellt am {{date}}
        </div>
        {{{message}}}
    </div>
</div>
{{/each}}
