{{!

/**
 *  SFW2 - SimpleFrameWork
 *
 *  Copyright (C) 2018  Stefan Paproth
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as
 *  published by the Free Software Foundation, either version 3 of the
 *  License, or (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program. If not, see <http://www.gnu.org/licenses/agpl.txt>.
 *
 */

}}
<div class="py-5">
    {{#if confirm}}
    <div class="card">
        <div class="card-header">Bestätigung</div>
        <div class="card-body">
            <h5 class="card-title">Soll folgender Gästebuch endgültig gelöscht werden?</h5>
            <small class="fst-italic">
                Eintrag von <strong>{{author}}</strong>. Erstellt am {{creation_date}}
            </small>
            <p class="card-text">{{message}}</p>
            <div class="text-end">
                <a href="{{url_delete}}" class="btn btn-danger text-end me-1">Eintrag endgültig löschen</a>
                <a href="{{url_back}}" class="btn btn-secondary text-end">Abbrechen</a>
            </div>
        </div>
    </div>
    {{else}}
    <div class="py-5">
    </div>
    <div class="alert alert-{{#if error}}danger{{else}}info{{/if}}" role="alert">
        <strong>Hinweis</strong>
        <p>{{text}}</p>
        <a href="{{url_back}}" class="text-reset">zurück</a>
    </div>
    {{/if}}
</div>
<div class="py-5">
</div>